/* Importação das Fonts Google Fonts */
/*  */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

/* 1 HEADER CSS */
/* Estilos Gerais (Todo o projeto) */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Define o modelo de caixa para incluir padding e borda no tamanho total do elemento */
}

body{
    background: #1F1517;
    color: #FFFF;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none; /*Remove a decoração de texto, como sublinhado, do elemento*/
}

ul{
    list-style-type: none; /*Remove os marcadores de lista (bolinhas) de um elemento de lista */
}

/* ___________________________ */
/* HEADER */

nav{
    max-width: 1120px; /*Define a largura máxima do elemento em 1120 pixels */
    margin: auto; /*Centraliza o elemento horizontalmente na tela */

    padding: 1.5rem 10rem ;
    /* 1.5rem: Isso define o preechimento vertical (topo e base do elemento como 1.5 vezes o tamanho da fonte do elemento raiz. Se a fonte do elemento raiz for 16 pixels, isso resultaria em um preenchimento vertical de 24 pixels 
    
    10rem: Isso define o preenchimento horizontal (esquerda e direita) do elemento como 10 vezes o tamanho da fonte do elemento raiz. Com uma fonte do elemento raiz de 16 pixels, isso resultaria em um preenchimento horizontal de 160 pixels*/

    display: flex; /*Define o elemento como um container flexível*/
    flex-direction: row; /*Define a direção dos elementos filhos como uma linha */
    justify-content: space-between; /*Distribui os elementos filhos uniformemente ao longo do eixo principal, com espaçamento entre eles */
}

.title{
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase; /*Transforma o texto para letras maiúculas */
}

/* Estilos para o menu do hambúguer */
.menu-toggle{
    display: none; /*Não exibe em telas grandes*/
    cursor: pointer;
}

/* Imagem do hamburguer (responsividade) */
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.menu{
    display: flex; /*Define o elemento como um container flexível */
    flex-direction: row; /*Estabelece a direção dos elementos filhos para uma disposiçao em linha */
    gap: 24px; /*Define o espaçamento entre os elementos filhos como 24 pixels */
    color: #FFF2E780; /*Define a cor do texto para um tom específico de amarelo */
    margin-top: 9px; /*Adiciona um espaçamento de margem superior de 9 pixels ao elemento */
    margin-left: 25px;
    margin-right: 25px;
}

.menu a:hover{
    color: #FFF; /*Nova cor do texto quando o cursor passar por cima*/
}

.menu a:visited{
    color: #FFF2E780; /*Define a cor dos links visitados como #FFF2E780*/
}

/* __________________________ */
/* Responsividade (telas menores que 768px) */
@media screen  and(max-width: 768px) {
    
    /* Header */
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 9;
    }

    nav ul li{
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu{
        margin-left: 0px;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
        margin-right: -70px;
    }

    .title{
        margin-left: -100px;
    }
}


/* 2 MAIN CSS */

/* __________________________ */
/* Sessão principal (main) */

main{
    display: flex; /*Define o elemento como um container flexível*/
    flex-direction: column; /*Estabelece a direção dos elementos filhos para uma disposição em coluna*/
}

.container{
    background: #181012;
    transform: translateX(100%);
    opacity: 0;

    /* Adiciona transição para suavizar a animação */
    transition: transform 1s ease, opacity 1s ease;
}

/* Animação para a entrada da direita para a esquerda */
.container.slide-from-right{
    transform: translateX(0);
    opacity: 1;
}

.info{
    max-width: 1120px; /*Define a largura máxima do elemento como 1120 pixels*/
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    padding: 0rem 2rem;
    margin: auto;
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem ;
    align-items: center;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
}

/* Destaque */
.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news{
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Usado na palavra (Novidades) no main */
.marrom{
    color: #a45a49;
}

/* Usado na palavra (Em alta) em receitas */
.amarelo{
    color: #e7a80e;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 800;
    color: #FFF;
}

/* Linha marrom abaixo do título principal (Encontre a receita...) */
hr{
    border-color: #a45a49;
}

/* Texto abaixo do título principal (explore dezenas...)*/
.subtitle{
    color: #c7bab3;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 20px;
}

/* Galeria de fotos (mosaico) */
.imagens{
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.imagens > figure > img{
    width: 100px;
    border-radius: 0.5rem;
}

/* ____________________ */
/* Botão */

.button{
    width: 100%;
    max-width: 1120px;
    padding: 1rem;
    margin: auto;
    transform: translateY(-50%); /*Move o elemento 50% do seu próprio tamanho para cima ao longo do eixo y*/

}

button{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #a45a49;
    transition: background-color 0.3s ease; /*adiciona uma transição suave para a mudança de cor*/
}

button:hover{
    background: #783f37;
}

/* ________________ */
/* Responsividade (Telas menores que 768px) */
@media screen and (max-width: 768px) {
    /* Galeria de fotos (mosaico) */
    .container{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .imagens{
        column-count: 1;/*Exibe apenas 1 coluna de fotos*/
        column-gap: 0.5rem; /*Define o espaçamento entre as colunas como 1 unidade rem*/
    }

    .receitas{
        padding-top: 0px;
    }

    .button{
        padding-bottom: 0px;
    }
}


/* 3 RECEITAS CSS */
.receitas{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
    padding-top: 10px;
}

.receitas-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #fff2e7;
}
.receitas-subtitle{
    color: #c7bab3;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.amarelo{
    color: #e7a80e;
}

article{
    column-count: 2;
}

.card{
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: -3rem;
}

.card-2{
    background: #241a1c;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.card-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.legend{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cappucino{
    color: #fff2e7;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.avaliacao{
    color: #756a67;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.descricao{
    color: #c7bab3;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.author > img{
    border-radius: 20rem;
    width: 1.5rem;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181a;
}

.footer-container{
    color: rgba(255, 242, 231, 0.50);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 9;
    }
    nav ul li{
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu{
        margin-left: 0px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        margin-right: -70px;
    }
    .title{
        margin-left: -100px;
    }
    .container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .images{
        column-count: 3;
        column-gap: 0.5rem;
    }
    .receitas{
        padding-top: 0px;
    }
    .button{
        padding-bottom: 0px;
    }

    article{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}